*{
    background-color: antiquewhite;
}
.box{
    background-color: blue;
    width: 130px;
    height: 120px;
    border: 30px solid white;
    margin: 100px;
    transition: all 1s linear;
}
.box:hover{
    transform: scaleX(2);
}